.App {
  text-align: center;
}

button {
  padding: 1%;
  border-radius: 25px;
  margin-top: 10px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  background-color: rgb(239, 224, 204);
  ;
}

button:hover {
  background-color: rgb(20, 80, 141);
  color: rgb(239, 224, 204);
}